@font-face {
    font-family: "MTS Wide";
    src: url('fonts/MTSWide-Regular.ttf');
}
@font-face {
    font-family: "MTS Wide";
    src: url('fonts/MTSWide-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: "MTS Text";
    src: url('fonts/MTSText-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    background: 
    url('img/pers.png') 100% 120% / auto 70% no-repeat
        ,url('img/bg.png') 100% / cover no-repeat;
}

body {
   overflow: hidden;
    width: 100%;
    height: 100%;
}
.mobile {
    width: 100%;
    height: 100%;
    position: relative;
}
.mobile::before {
    content: "";
    width: 75px;
    height: 103px;
    background: url('img/coin.png') 100% / contain no-repeat;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: -35px;
    touch-action: none;
    transform: rotate(-36deg);
}
.mobile::after {
    content: "";
    width: 11px;
    height: 34px;
    background: url('img/coin2.png') 100% / cover;
    filter: blur(5.26156759262085px);
    z-index: 7;
    position: absolute;
    top: 90%;
    left: 10%;
    touch-action: none;
    transform: rotate(125deg);
}
h1 {
    padding-top: 40px;
    
    color: #FF0032;
    font-family: "MTS Wide";
    font-size: 19.25px;
    font-style: normal;
    font-weight: 500;
    line-height: 110.5%; /* 21.271px */
    text-transform: uppercase;
}
p {
    margin-top: 15px;

    color: #393939;
    font-family: "MTS Text";
    font-size: 12.972px;
    font-style: normal;
    font-weight: 400;
    line-height: 122.9%; /* 15.942px */
}
.wrapper {
    max-width: 345.081px;
    width: 95%;
    margin: 0 auto;
    height: 30%;
    
}
image{
    height: 70%;
}
.desktop-screen {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    background: url('img/background.jpg') 50% / cover;
    padding: 2.71vw 4.11vw;
}
.desktop-screen::after {
    content: '';
    position: absolute;
    background: url('img/25m.png') 50% / cover no-repeat;
    width: 55.88vw;
    height: 55.88vw;
    bottom: -3.85vw;
    left: 53.11vw;
    
}
.desktop_logo {
    width: 9.7vw;
    height: 3.125vw;
    position: fixed;
    top:  2.71vw;
    left: 4.11vw;
    background: url("img/head_logo.svg") 50% / cover;
}
.desktop-title {
    position: relative;
    z-index: 1;
    font-family: 'MTS Wide';
    font-weight: 500;
    color: #FF0032;
    text-transform: uppercase;
    font-size: 3.9vw;
    width: 63.9vw;
    margin-top: 30vh;
}
.qr-code {
    width: 7.81vw;
    height: 7.81vw;
    background: url('img/qr-code.png') 50% / cover;
    position: fixed;
    left: 4.11vw;
    bottom: 4.89vw;
}